<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>PubuduS</h3>
      </div>

      <div class="text-center">@PubuduS -> Original Tutorial: <strong>Deborah Kurata </strong> </div>
      <div class="text-center">
        <a href="https://github.com/PubuduS/Angular-Tutorials">GitHub: PubuduS</a>
      </div>
    </div>
  </div>
</div>
