.form-group
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.form-check-label
{
    padding-left: 1%;
}

.btn
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.field-error
{
    border: 1px solid red;
}